#  ███████╗███████╗███████╗██╗  ██╗     ██████╗ ██████╗ ███╗   ██╗███████╗██╗ ██████╗
#  ██╔════╝██╔════╝██╔════╝██║  ██║    ██╔════╝██╔═══██╗████╗  ██║██╔════╝██║██╔════╝
#  ███████╗█████╗  ███████╗███████║    ██║     ██║   ██║██╔██╗ ██║█████╗  ██║██║  ███╗
#  ╚════██║██╔══╝  ╚════██║██╔══██║    ██║     ██║   ██║██║╚██╗██║██╔══╝  ██║██║   ██║
#  ███████║███████╗███████║██║  ██║    ╚██████╗╚██████╔╝██║ ╚████║██║     ██║╚██████╔╝
#  ╚══════╝╚══════╝╚══════╝╚═╝  ╚═╝     ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝     ╚═╝ ╚═════╝
#
#  Smart session manager for the terminal
#  https://github.com/joshmedeski/sesh

blacklist = ["scratch"]

# default

[default_session]
# startup_command = "nvim +PickFiles"
startup_command_ignore_dirs = ["~/code", "~/.config", "~", "~/Downloads/"]
preview_command = "eza --all --git --icons --color=always {}"

# common

[[session]]
name = "Downloads"
path = "~/Downloads"

[[session]]
name = "home (~)"
path = "~"

[[session]]
name = "dotfiles"
path = "~/.dotfiles"
# startup_command = "nvim +PickFiles"
startup_command = "tree"

[[session]]
name = "btop"
startup_command = "btop"

# mosh

[[session]]
name = "fat"
path = "~"
startup_command = "ssh fat"

[[session]]
name = "deuce"
path = "~"
startup_command = "ssh deuce"

[[session]]
name = "pop"
path = "~"
startup_command = "ssh pop"

[[session]]
name = "wsl2"
path = "~"
startup_command = "ssh wsl2"

[[session]]
name = "gateway"
path = "~"
startup_command = "ssh gateway"

[[session]]
name = "cabrito"
path = "~"
startup_command = "ssh cabrito"

[[session]]
name = "petita"
path = "~"
startup_command = "ssh petita"

[[session]]
name = "homeassistant"
path = "~"
startup_command = "ssh homeassistant"

# mana

[[session]]
name = "prefect"
path = "~/code/mana/prefect-flows"

[[session]]
name = "copilot"
path = "~/code/mana/copilot"

# other projects

[[session]]
name = "cmt"
path = "~/code/rust/cmt"

[[session]]
name = "rstructor"
path = "~/code/rust/rstructor"
startup_command = "tree"

[[session]]
name = "autobuy"
path = "~/code/autobuy"

# configs

[[session]]
name = "nvim config"
path = "~/.dotfiles/.config/nvim"
startup_command = "nvim +PickFiles"

[[session]]
name = "tmux config"
path = "~/.dotfiles"
startup_command = "nvim .tmux.conf.local"
preview_command = "bat --language=bash --style=snip --color=always .tmux.conf.local"

[[session]]
name = "sesh config"
path = "~/.dotfiles/.config/sesh"
startup_command = "nvim sesh.toml"
preview_command = "bat --language=toml --style=snip --color=always ~/.dotfiles.config/sesh/sesh.toml"

[[session]]
name = "ghostty config"
path = "~/.dotfiles/.config/ghostty"
startup_command = "nvim config"

[[session]]
name = "/ect/hosts"
path = "/etc"
startup_command = "sudo nvim hosts"

[[session]]
name = "skhd config"
path = "~/.dotfiles"
startup_command = "nvim .skhdrc"

# plugins

# [[session]]
# name = "obsidian plugins"
# path = "~/c/second-brain/.obsidian/plugins"
# startup_command = "sesh connect (ls | fzf --ansi --no-border --preview 'glow -s light {}/README.md' --preview-window=right:85,border-none) && exit"

# tools

# [[session]]
# name = "ollama"
# path = "~/.ollama"
# startup_command = 'grc tail -f ~/.ollama/logs/server.log'

# [[session]]
# name = "macmon"
# path = "~/"
# startup_command = "macmon"

# [[session]]
# name = "cava (audio visualizer)"
# path = "~/.config/cava"
# startup_command = "tmux set-option -t cava status off && cava"

# other

# [[session]]
# name = "perplexica"
# path = "~/c/perplexica"
# startup_command = "docker compose up -d"
